#image {
  border-radius: 30%;
  width: 250px;
  padding: 10px;
}

#divi {
    opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#divi ul {
  display: inline-block;
  text-align: left;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}